{% extends "base.html" %}

{% load static %}


{% block content %}
        <h1>Ajouter un produit</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.non_field_errors }}
            </div>
            <div class="form-group">
                {{ form.nom.label_tag }}
                {{ form.nom }}
            </div>
            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>
            <div class="form-group">
                {{ form.prix.label_tag }}
                {{ form.prix }}
            </div>
            <!-- Ajouter d'autres champs de formulaire de la même manière -->
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
        <a href="{% url 'liste_produits' %}" class="btn btn-secondary mt-2">Retour à la liste des produits</a>
   

        {% endblock %}
